@model FutMobile.Models.Post

@{
    ViewBag.Title = "Delete";
}

@{
    Layout = null;
}

<script>
    window.onload = function () {
        document.getElementById("indice").className = "animation start-dois";
        $('[id^=esconder_]').hide();
    };
</script>

@if (User.Identity.Name == Model.UserLogin || User.IsInRole("Administrator"))
{
    <div>
        <h4 style="text-align:center;">Deseja realmente deletar esse post? <br/><br /></h4>
        <dl class="col-md-12">
            <div class="col-md-2" style="text-align:left;">
                <dt>
                    @Html.DisplayNameFor(model => model.Titulo):
                </dt>
            </div>
            <div class="col-md-10" style="text-align:left;">
                <dd>
                    @Html.DisplayFor(model => model.Titulo)
                    <br/><br />
                </dd>
            </div>
            <div class="col-md-2" style="text-align:left;">
                <dt>
                    @Html.DisplayNameFor(model => model.Categoria):
                </dt>
            </div>
            <div class="col-md-10" style="text-align:left;">
                <dd>
                    @Html.DisplayFor(model => model.Categoria)
                    <br /><br />
                </dd>
            </div>

            <div class="col-md-2" style="text-align:left;">
                <dt>
                    @Html.DisplayNameFor(model => model.Data):
                </dt>
            </div>
            <div class="col-md-10" style="text-align:left;">
                <dd>
                    @Html.DisplayFor(model => model.Data)
                    <br /><br />
                </dd>
            </div>

            <div class="col-md-2" style="text-align:left;">
                <dt>
                    @Html.DisplayNameFor(model => model.Msg):
                </dt>
            </div>
            <div class="col-md-10" style="text-align:left;">
                <dd>
                    @{ var a = Html.Raw(Model.Msg);}
                    @a
                    <br /><br />
                </dd>
            </div>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group" style="text-align:right;">
                    <div class="col-md-12">
                        <input type="submit" value="Deletar" class="btn btn-fut" style="height:30px; padding:0px;" />
                    </div>
                </div>
            </div>
        }
    </div>
}

else
{<h2>Usuario não autorizado a deletar este post</h2>}

