@model IEnumerable<FutMobile.Models.Comentario>

@{
    ViewBag.Title = "Index";
}

<h2>Comentarios</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDoPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLoginCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikesCom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Reverse())
    {
        if(item.CodigoDoPost == Convert.ToInt32(TempData["IDPost"]))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoDoPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLoginCom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MsgCom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCom)
                </td>
                @{ List<string> ListaDeLikes = item.LikesCom.Split(',').ToList(); }

                @if (ListaDeLikes[0] == "")
                {
                    <td>0</td>
                }
                @if (ListaDeLikes[0] != "")
                {
                    <td>@ListaDeLikes.Count</td>
                }

                <!--//Esta redirecionando errado + não consigo editar apenas alguns campos-->
                <td>
                    @if (User.Identity.Name == item.UserLoginCom || User.IsInRole("Administrator"))
                    {
                        
                        <a href="@Url.Action("Edit", "Comentarios",new { id=item.CodigoCom })">Edit</a> @:|
                        <a href="@Url.Action("Delete", "Comentarios",new { id=item.CodigoCom })">Delete</a> @:|
                    }
                    <a href="@Url.Action("Details", "Comentarios",new { id=item.CodigoCom })">Details</a> |
                    <a href="@Url.Action("AddLike", "Comentarios",new { id=item.CodigoCom })">Like</a>
                </td>
            </tr>
        }
     }
</table>
