@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using System.Security.Claims;

@model IEnumerable<FutMobile.Models.Post>

@{
    ViewBag.Title = "Index";
}

<style>
    .btn-comment {
        height: 30px !important;
        width: 20px !important;
        padding: 0px !important;
        margin-top: 0px !important;
    }
</style>

<script>
    window.onload = function () {
        document.getElementById("indice").className = "animation start-dois";
        $('[id^=esconder_]').hide();
    };

    function Modal(id) {
        var loadPage = "/Comentarios/Create/" + id;
        $("#comment").load(loadPage);
    }

    function ShowModalEdit(id) {
        var loadPage = "/Comentarios/Edit/" + id;
        $("#EditComment").load(loadPage);
    }

    function ShowModalDelete(id) {
        var loadPage = "/Comentarios/Delete/" + id;
        $("#DeleteComment").load(loadPage);
    }


    function ShowModalDeletePost(id) {
        var loadPage = "/Posts/Delete/" + id;
        $("#DeletePostComment").load(loadPage);
    }

    function ShowHideComment(id) {
        idComment = "#comment_" + id;
        idCommentMostrar = "#mostrar_" + id;
        idCommentEsconder = "#esconder_" + id;

        console.log(idComment);

        if ($(idCommentMostrar).is(':visible')) {
            $(idCommentMostrar).hide();
            $(idCommentEsconder).show();

            var commentPage = "/Posts/Details/" + id;
            $(idComment).load(commentPage);
        }
        else {
            $(idCommentMostrar).show();
            $(idCommentEsconder).hide();
        }
    }
</script>


<div class="col-md-12" style="text-align:center;">
    <h2>Feed de Notícias</h2>
    <a href="/Posts/Create">
        <input type="submit" value="Criar Post" class="btn btn-fut" style="height:30px; width:30px; padding:0px;" />
    </a>
    <div class="col-md-12" style="padding:0px;"><br /></div>
</div>




@foreach (var item in Model.Reverse())
{
    <div class="row" style="padding:10px;">
        <div class="col-md-12 backgroungLogin">
            <div class="col-md-12" style="border-bottom: 2px solid #f0f0f0;">
                <div class="col-md-6" style="text-align:left; font-weight: bolder; font-size: 20px; padding:0px;">
                    @Html.DisplayFor(modelItem => item.Titulo) 
                </div>
                <div class="col-md-6" style="text-align: right; font-size: 11px; padding:0px;">
                    Categoria: @Html.DisplayFor(modelItem => item.Categoria) |
                    Criado em: @Html.DisplayFor(modelItem => item.Data) |
                    Publicado por: @Html.DisplayFor(modelItem => item.Nome) |
                    @if (User.Identity.Name == item.UserLogin || User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }) @: |
                        <a href="#" onclick="ShowModalDeletePost(@item.Codigo)" data-toggle="modal" data-target="#DeletePostModal">Deletar</a>
                    }
                </div>
                <div class="col-md-12" style="padding:0px;"><br /></div>
            </div>
            <div class="col-md-12" style="border-bottom: 2px solid #f0f0f0;">
                <br />
                @Html.DisplayFor(modelItem => item.Msg)
                <br /><br />
            </div>
            <div class="col-md-12" style="text-align:right; padding:0px;">
                <br />
                <div class="col-md-9" style="width: 82%"></div>
                <div class="col-md-1" style="width: 10%; padding:0px; text-align:left;" title="Comentar">
                    <input type="submit" value="Comentar" onclick="Modal(@item.Codigo)" class="btn btn-fut btn-comment" data-toggle="modal" data-target="#myModal" />
                </div>
                <div class="col-md-1" style="width: 3%; padding:0px;" title="Curtir Notícia">
                    <a href="/Posts/AddLike/@item.Codigo">
                        <div class="like">
                            <svg style="margin-top:3px;" width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="col-md-1" style="margin-top:6px; width:3%; height: 35px; text-align:left;">
                    @{ List<string> ListaDeLikes = item.Likes.Split(',').ToList(); }

                    @if (ListaDeLikes[0] == "")
                    {
                        <h>0</h>
                    }
                    @if (ListaDeLikes[0] != "")
                    {
                        @ListaDeLikes.Count
                    }
                </div>
                <div class="col-md-12" style="text-align:center;">
                    <div id="mostrar_@item.Codigo">
                        <a onclick="ShowHideComment(@item.Codigo)" style="cursor:pointer">
                            <svg id="up" width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                            Mostrar comentários
                        </a>
                    </div>
                    <div id="esconder_@item.Codigo">
                        <a onclick="ShowHideComment(@item.Codigo)" style="cursor:pointer">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                            </svg>
                            Esconder comentários<br /><br />
                        </a>
                        <div id="comment_@item.Codigo" class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comentários</h4>
            </div>
            <div id="comment" class="modal-body">
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="EditModal" class="modal fade" role="dialog">
    <div id="EditModalDialog" class="modal-dialog">

        <!-- Modal content-->
        <div id="EditModalContent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Comentário</h4>
            </div>
            <div id="EditComment" class="modal-body">
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="DeleteModal" class="modal fade" role="dialog">
    <div id="DeleteModalDialog" class="modal-dialog">

        <!-- Modal content-->
        <div id="DeleteModalContent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deletar</h4>
            </div>
            <div id="DeleteComment" class="modal-body">
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="DeletePostModal" class="modal fade" role="dialog">
    <div id="DeletePostModalDialog" class="modal-dialog">

        <!-- Modal content-->
        <div id="DeletePostModalContent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deletar</h4>
            </div>
            <div id="DeletePostComment" class="modal-body">
            </div>
        </div>
    </div>
</div>