@model FutMobile.Models.Campeonato

@{
    ViewBag.Title = "Details";
}

<style>
    titulo{
        font-size:15px;
        font-weight:bolder;
    }
</style>

<script>
    window.onload = function () {
        document.getElementById("indice").className = "animation start-tres";
        $('[id^=esconder_]').hide();
    };
</script>

<div class="row">
    <div class="col-md-12" style="text-align:left; padding:10px 10px 15px 0px;">
        <a href="/Campeonatos">
            <input type="submit" class="btn btn-fut" style="height:30px; width:30px; padding:0px;" value="Voltar" />
        </a>
    </div>

    <div class="col-md-12 backgroungLogin">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align:center; font-weight: bolder; font-size: 20px; padding:0px;">
                @Html.DisplayFor(model => model.NomeCamp)
            </div>
            <div class="col-md-3" style="text-align: right;">
                @if (User.IsInRole("Administrator"))
                {
                    <div>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.CodigoCamp }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = Model.CodigoCamp })
                    </div>
                }
                @if (!User.IsInRole("Administrator"))
                {
                    <div>
                        @Html.ActionLink("Sugerir Edição", "Edit", new { id = Model.CodigoCamp }) |
                        @Html.ActionLink("Sugerir Deletação", "Delete", new { id = Model.CodigoCamp })
                    </div>
                }
            </div>
        </div>

        <div class="col-md-9" style="text-align: justify; padding:0px;">
            <br />
            @{ var resumo = Html.Raw(Model.ResumoCamp);}
            @resumo
            <br /> <br />
        </div>

        <div class="col-md-3" style="text-align: center; font-size: 11px; padding:0px; ">
            <img src="../@Model.SimboloCampPath" width="200" height="200">
        </div>

        <div class="col-md-12" style="font-size: 15px; text-align:left; padding:0px; border-top: 2px solid #f0f0f0;">
            <br />
            <div style="font-size:15px;">
                <titulo>
                    @Html.DisplayNameFor(model => model.PrimeiraEdicao):
                </titulo>
                @Html.DisplayFor(model => model.PrimeiraEdicao)
            </div>
            <br />
            <div style=" font-size: 15px;">
                <titulo>
                    @Html.DisplayNameFor(model => model.PrincipaisArtilheiros):
                </titulo>
                <br /> @{ var art = Html.Raw(Model.PrincipaisArtilheiros);} @art<br /><br />
            </div>
        </div>
    </div>
</div>
