@model FutMobile.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
}

<div class="row">
    <div class="col-md-12" style="text-align:center; margin-top:5vh;">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-4"></div>
            <div class="col-md-4 backgroungLogin">
                <h4>&nbsp;&nbsp;Recupere sua senha:</h4>
                <div class="col-md-12" style="padding-bottom:10px;">
                    <img src="../../Utilities/FutMobile_logo.png" width=200 height=200 />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label", @style = "text-align:left" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <br />
                        <input type="submit" class="botaoforgot" value="Enviar link por email" />
                    </div>
                </div>
            </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
</div>

<style>
    .botaoforgot {
        -webkit-appearance: none;
        width: auto;
        min-width: 100px;
        border-radius: 24px;
        text-align: center;
        padding: 15px 40px;
        margin-top: 5px;
        background-color: blue;
        color: #fff;
        font-size: 14px;
        margin-left: auto;
        font-weight: 500;
        box-shadow: 0px 2px 6px -1px rgba(0,0,0,.13);
        border: none;
        transition: all .3s ease;
        outline: 0;
        &:hover

    {
        transform: translateY(-3px);
        box-shadow: 0 2px 6px -1px rgba($primary, .65);
        &:active

    {
        transform: scale(.99);
    }

    }
    }
</style>