@model IEnumerable<FutMobile.Models.Time>

@{
    ViewBag.Title = "Index";
}

<script>
    window.onload = function () {
        document.getElementById("indice").className = "animation start-quatro";
        $('[id^=esconder_]').hide();
    };
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-12" style="padding:0px; text-align:left;">
            <input type="text" id="text1" name="text1" placeholder="Buscar time pelo nome" style="width:450px !important;" />
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @if (User.IsInRole("Administrator"))
    {<h4>@Html.ActionLink("Adicionar novo time", "Create")</h4>}
    @if (!User.IsInRole("Administrator"))
    {<h4>@Html.ActionLink("Sugerir novo time", "Create")</h4>}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeTime)
        </th>
        <th>
            Escudo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fundacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumoTitulos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mundial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libertadores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brasileiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopaDoBrasil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estadual)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (User.IsInRole("Administrator"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTime)
                </td>
                <td>
                    <img src="@item.BrasaoPath" width="250" height="250">
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.Fundacao)
                </td>
                <td>
                    @{ var a = Html.Raw(item.Resumo);}
                    @a
                </td>
                <td>
                    @{ var b = Html.Raw(item.ResumoTitulos);}
                    @b
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mundial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libertadores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brasileiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopaDoBrasil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estadual)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CodigoTime }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.CodigoTime }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.CodigoTime })
                </td>
            </tr>
        }
        else
        {
            if (!item.NomeTime.StartsWith("Sugestao - "))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeTime)
                    </td>
                    <td>
                        <img src="@item.BrasaoPath" width="250" height="250">
                    </td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.Fundacao)
                    </td>
                    <td>
                        @{ var a = Html.Raw(item.Resumo);}
                        @a
                    </td>
                    <td>
                        @{ var b = Html.Raw(item.ResumoTitulos);}
                        @b
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mundial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Libertadores)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brasileiro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CopaDoBrasil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estadual)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.CodigoTime }) |
                        @Html.ActionLink("Sugerir alteração", "Edit", new { id = item.CodigoTime }) |
                        @Html.ActionLink("Sugerir deleção", "Delete", new { id = item.CodigoTime })
                    </td>
                </tr>
            }
        }
    }

</table>
