@{
    ViewBag.teste = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FutMobile</title>
    @Styles.Render("~/Content/css/")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="shortcut icon" href="../../Utilities/icone_basico.ico" />

</head>



<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" style="margin-top:-10px;">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="../../Utilities/LOGOMINI.png" width=100 height=40>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="ull" style="padding:0px;">
                            <a class="navcentral" href="@Url.Action("Index", "Home")">Home</a>
                            <a class="navcentral" href="@Url.Action("Index", "Posts")">Notícias</a>
                            <a class="navcentral" href="@Url.Action("Index", "Campeonatos")">Campeonato</a>
                            <a class="navcentral" href="@Url.Action("Index", "Times")">Times</a>
                            <a class="navcentral" href="@Url.Action("Ajuda", "Restricted")">Ajuda</a>
                            <div id="indice" class="animation start-um"></div>
                        </ul>
                    }
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="footer" class="col-md-12" style="text-align:center;position: fixed; left: 0; bottom: 0; width: 100%;">
                <p>&copy; @DateTime.Now.Year - FutMobile - Todos os direitos reservados.</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
